* {
    margin: 0;
    padding: 0;
}


.service-section{
    margin-top: 3rem;
    padding: 0.3rem;
}

#services-id{
padding: 3rem;
}

.service-section>h4 {
    color: #444;
}

hr.line{
    width: 10rem;
    margin-top: 0.2rem;
    border: 1px solid #FFD700;
    align-self: last baseline;
}

.services-title{
    text-align: left;
    font-size: 2rem;
    margin: 3rem 0;
}

.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}