*{
    margin: 0;
    padding: 0;
}

.portfolio-main{
    width: 28rem;
    height: 20rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.3rem;
}

.portfolio-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #DDD;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
}

.portfolio-img:hover{
    filter: brightness(70%);
    transform: scale(1.2);
}
