*{
    margin: 0;
    padding: 0;
}

.statistic-img {
    width: 50%;
    height: 550px;
    margin-left: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0.3rem;
}

.statistic-main {
    max-width: 32rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 1rem;
    /* padding: 1rem; */
    text-align: left;
}

.statistic-container{
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.statistics-title{
    font-size: 2rem;
    text-align: left;
    margin-top: 0.5rem;
}

hr.line{
    width: 20rem;
    margin-top: 0.2rem;
    border: 1px solid #FFD700;
    align-self: last baseline;
}