* {
    margin: 0;
    padding: 0;
}

.icon{
    width: 16px;
    height: 16px;
    padding: 0.6rem;
    background-color: #666;
    color: #FFF;
    border-radius: 0.2rem;
    transition: all 0.15s linear;
    margin-left: 0.5rem;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.icon:hover {
    background-color: #FFD700;
    color: #000;
}